<main class="page shopping-cart-page">
  <section class="clean-block clean-cart dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Orders Page</h2>
        <p>View past purchases here</p>
      </div>
      <ng-container *ngFor="let r of getArray() | keyvalue">
      <div class="content" >
        <div class="row no-gutters">
          <div class="col-md-12 col-lg-8">
            <div class="items" *ngFor="let m of r.value">
              <div class="product">
                <div class="row justify-content-center align-items-center">
                  <div class="col-md-3">
                    <div class="product-image"><img class="img-fluid d-block mx-auto image" src="{{'https://image.tmdb.org/t/p/w500'+ m?.posterPath}}"></div>
                  </div>
                  <div class="col-md-5 product-info"><a class="product-name">{{m?.title}}</a>
                    <div class="product-specs">
                      <div><span>Release Date:&nbsp;</span><span class="value">{{m?.releaseDate}}</span></div>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 price"><span>{{getPrice(m?.releaseDate)}}</span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <div class="summary">
              <h3>Summary</h3>
              <h5>{{getDate(r.value[0].timeAdded)}}</h5>
              <h4><span class="text">Subtotal</span><span class="price">${{calcTotal(r.value)}}</span></h4>
              <h4><span class="text">Discount</span><span class="price">$0</span></h4>
              <h4><span class="text">Shipping</span><span class="price">$0</span></h4>
              <h4><span class="text">Total</span><span class="price">${{calcTotal(r.value)}}</span></h4>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <p></p>
        </div>
      </ng-container>
    </div>

  </section>
</main>
