<main class="page shopping-cart-page">
  <section class="clean-block clean-cart dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Orders Page</h2>
        <p>View past purchases here</p>
      </div>
      <div class="content">
        <div class="row no-gutters">
          <div class="col-md-12 col-lg-8">
            <div class="items">
              <div class="product">
                <div class="row justify-content-center align-items-center">
                  <div class="col-md-3">
                    <div class="product-image"><img class="img-fluid d-block mx-auto image" src=""></div>
                  </div>
                  <div class="col-md-5 product-info"><a class="product-name" href="#">title</a>
                    <div class="product-specs">
                      <div><span>Release Date:&nbsp;</span><span class="value">10</span></div>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 price"><span>$5.00</span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <div class="summary">
              <h3>Summary</h3>
              <h4><span class="text">Subtotal</span><span class="price">$5.00</span></h4>
              <h4><span class="text">Discount</span><span class="price">$0</span></h4>
              <h4><span class="text">Shipping</span><span class="price">$0</span></h4>
              <h4><span class="text">Total</span><span class="price">$5.00</span></h4>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <p></p>
        </div>
      <div class="content">
        <div class="row no-gutters">
          <div class="col-md-12 col-lg-8">
            <div class="items">
              <div class="product">
                <div class="row justify-content-center align-items-center">
                  <div class="col-md-3">
                    <div class="product-image"><img class="img-fluid d-block mx-auto image" src=""></div>
                  </div>
                  <div class="col-md-5 product-info"><a class="product-name" href="#">title</a>
                    <div class="product-specs">
                      <div><span>Release Date:&nbsp;</span><span class="value">10</span></div>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 price"><span>$5.00</span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <div class="summary">
              <h3>Summary</h3>
              <h4><span class="text">Subtotal</span><span class="price">$5.00</span></h4>
              <h4><span class="text">Discount</span><span class="price">$0</span></h4>
              <h4><span class="text">Shipping</span><span class="price">$0</span></h4>
              <h4><span class="text">Total</span><span class="price">$5.00</span></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
