<main class="page catalog-page">
  <section class="clean-block clean-catalog dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Catalog Page</h2>
        <p>Movies move us like nothing else can, whether they're scary, funny,
          dramatic, romantic or anywhere in-between. So many titles, so much to experience.</p>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-3">
            <div class="d-none d-md-block">
              <div class="filters">
                <div class="filter-item" *ngIf="getGenresList()">
                  <h3>Genres</h3>
                  <div *ngFor= "let genre of getGenresList()" class="form-check"><input class="form-check-input" type="checkbox" id="{{ genre.name }}"><label class="form-check-label" for="{{ genre.name }}">{{ genre.name }}</label></div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="products">
              <div class="row no-gutters">
                <div class="col-12 col-md-6 col-lg-4" *ngFor="let item of displayResults(this.page)">
                  <div class="clean-product-item">
                    <div class="image"><a><img class="img-fluid d-block mx-auto" [routerLink]="['/product', item.id]" src="{{'https://image.tmdb.org/t/p/w500'+item.poster_path}}"></a></div>
                    <div class="product-name"><a href="#">{{item?.title}}</a></div>
                    <div class="about">
                      <div class="rating">
                          <img [src]="item.vote_average >= 2 ? '../../../assets/img/star.svg' : item.vote_average >= 1 ? '../../../assets/img/star-half-empty.svg' : '../../../assets/img/star-empty.svg'"/>
                          <img [src]="item.vote_average >= 4 ? '../../../assets/img/star.svg' : item.vote_average >= 3 ? '../../../assets/img/star-half-empty.svg' : '../../../assets/img/star-empty.svg'"/>
                          <img [src]="item.vote_average >= 6 ? '../../../assets/img/star.svg' : item.vote_average >= 5 ? '../../../assets/img/star-half-empty.svg' : '../../../assets/img/star-empty.svg'"/>
                          <img [src]="item.vote_average >= 8 ? '../../../assets/img/star.svg' : item.vote_average >= 7 ? '../../../assets/img/star-half-empty.svg' : '../../../assets/img/star-empty.svg'"/>
                          <img [src]="item.vote_average >= 10 ? '../../../assets/img/star.svg' : item.vote_average >= 9 ? '../../../assets/img/star-half-empty.svg' : '../../../assets/img/star-empty.svg'"/>
                      </div>
                      <div class="price">
                        <h3>{{getPrice(item.release_date)}}</h3>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <nav>
                <ul class="pagination">
                  <ng-container *ngIf="page == 1">
                    <li class="page-item disabled"><a class="page-link"  aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                  </ng-container>
                  <ng-container *ngIf="page > 1">
                    <li class="page-item "><a class="page-link"  [routerLink]="['/catalog/page',page-1]" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                  </ng-container>
                  <li class="page-item " *ngFor="let page of getPages()"><a class="page-link" [routerLink]="['/catalog/page', page]">{{page}}</a></li>
                  <ng-container *ngIf="page == maxpage">
                  <li class="page-item disabled"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                  </ng-container>
                  <ng-container *ngIf="page < maxpage">
                    <li class="page-item "><a class="page-link" [routerLink]="['/catalog/page',page+1]" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                  </ng-container>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

