<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
  <div class="container"><a class="navbar-brand" href="#">Rentflix</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse"
         id="navcol-1">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item" role="presentation"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link active" href="/catalog/page/1">Catalog</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="/cart">Shopping Cart</a></li>
      </ul><span class="navbar-text actions"> <a class="login" href="/login">Log In</a><a class="btn btn-light action-button" role="button" href="/register">Sign Up</a></span></div>
  </div>
</nav>

<main class="page catalog-page">
  <section class="clean-block clean-catalog dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Catalog Page</h2>
        <p>Movies move us like nothing else can, whether they're scary, funny,
          dramatic, romantic or anywhere in-between. So many titles, so much to experience.</p>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-3">
            <div class="d-none d-md-block">
              <div class="filters">
                <div class="filter-item">
                  <h3>Categories</h3>
                  <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Phones</label></div>
                  <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label" for="formCheck-2">Laptops</label></div>
                  <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-3"><label class="form-check-label" for="formCheck-3">PC</label></div>
                  <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-4"><label class="form-check-label" for="formCheck-4">Tablets</label></div>
                </div>
                <div class="filter-item">
                  <h3>Brands</h3>
                  <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-5"><label class="form-check-label" for="formCheck-5">Samsung</label></div>
                  <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-6"><label class="form-check-label" for="formCheck-6">Apple</label></div>
                  <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-7"><label class="form-check-label" for="formCheck-7">HTC</label></div>
                </div>
                <div class="filter-item">
                  <h3>OS</h3>
                  <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-8"><label class="form-check-label" for="formCheck-8">Android</label></div>
                  <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-9"><label class="form-check-label" for="formCheck-9">iOS</label></div>
                </div>
              </div>
            </div>
            <div class="d-md-none"><a class="btn btn-link d-md-none filter-collapse" data-toggle="collapse" aria-expanded="false" aria-controls="filters" href="#filters" role="button">Filters<i class="icon-arrow-down filter-caret"></i></a>
              <div class="collapse"
                   id="filters">
                <div class="filters">
                  <div class="filter-item">
                    <h3>Categories</h3>
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Phones</label></div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label" for="formCheck-2">Laptops</label></div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-3"><label class="form-check-label" for="formCheck-3">PC</label></div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-4"><label class="form-check-label" for="formCheck-4">Tablets</label></div>
                  </div>
                  <div class="filter-item">
                    <h3>Brands</h3>
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-5"><label class="form-check-label" for="formCheck-5">Samsung</label></div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-6"><label class="form-check-label" for="formCheck-6">Apple</label></div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-7"><label class="form-check-label" for="formCheck-7">HTC</label></div>
                  </div>
                  <div class="filter-item">
                    <h3>OS</h3>
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-8"><label class="form-check-label" for="formCheck-8">Android</label></div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-9"><label class="form-check-label" for="formCheck-9">iOS</label></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="products">
              <div class="row no-gutters">
                <div class="col-12 col-md-6 col-lg-4" *ngFor="let item of displayResults(this.page)">
                  <div class="clean-product-item">
                    <div class="image"><a><img class="img-fluid d-block mx-auto" [routerLink]="['/product', item.id]" src="{{'https://image.tmdb.org/t/p/w500'+item.poster_path}}"></a></div>
                    <div class="product-name"><a href="#">{{item?.title}}</a></div>
                    <div class="about">
                      <div class="rating">
                          <img [src]="item.vote_average >= 2 ? '../../../assets/img/star.svg' : item.vote_average >= 1 ? '../../../assets/img/star-half-empty.svg' : '../../../assets/img/star-empty.svg'"/>
                          <img [src]="item.vote_average >= 4 ? '../../../assets/img/star.svg' : item.vote_average >= 3 ? '../../../assets/img/star-half-empty.svg' : '../../../assets/img/star-empty.svg'"/>
                          <img [src]="item.vote_average >= 6 ? '../../../assets/img/star.svg' : item.vote_average >= 5 ? '../../../assets/img/star-half-empty.svg' : '../../../assets/img/star-empty.svg'"/>
                          <img [src]="item.vote_average >= 8 ? '../../../assets/img/star.svg' : item.vote_average >= 7 ? '../../../assets/img/star-half-empty.svg' : '../../../assets/img/star-empty.svg'"/>
                          <img [src]="item.vote_average >= 10 ? '../../../assets/img/star.svg' : item.vote_average >= 9 ? '../../../assets/img/star-half-empty.svg' : '../../../assets/img/star-empty.svg'"/>
                      </div>
                      <div class="price">
                        <h3>{{getPrice(item.release_date)}}</h3>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <nav>
                <ul class="pagination">
                  <ng-container *ngIf="page == 1">
                    <li class="page-item disabled"><a class="page-link"  aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                  </ng-container>
                  <ng-container *ngIf="page > 1">
                    <li class="page-item "><a class="page-link"  [routerLink]="['/catalog/page',page-1]" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                  </ng-container>
                  <li class="page-item " *ngFor="let page of getPages()"><a class="page-link" [routerLink]="['/catalog/page', page]">{{page}}</a></li>
                  <ng-container *ngIf="page == maxpage">
                  <li class="page-item disabled"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                  </ng-container>
                  <ng-container *ngIf="page < maxpage">
                    <li class="page-item "><a class="page-link" [routerLink]="['/catalog/page',page+1]" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                  </ng-container>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

