<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
  <div class="container"><a class="navbar-brand" href="#">Rentflix</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse"
         id="navcol-1">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/">Home</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/catalog/page/1">Catalog</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/cart">Shopping Cart</a></li>
      </ul><span class="navbar-text actions"> <a class="login" routerLink="/login">Log In</a><a class="btn btn-light action-button" role="button" routerLink="/register">Sign Up</a></span></div>
  </div>
</nav>
<main class="page registration-page">
  <section class="clean-block clean-form dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Registration</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
      </div>
      <form>
        <div class="form-group"><label for="name">Name</label><input class="form-control item" type="text" id="name"></div>
        <div class="form-group"><label for="password">Password</label><input class="form-control item" type="password" id="password"></div>
        <div class="form-group"><label for="email">Email</label><input class="form-control item" type="email" id="email"></div><button class="btn btn-primary btn-block" type="submit">Sign Up</button></form>
    </div>
  </section>
</main>
