<main class="page landing-page">

  <section class="clean-block clean-hero" style="background-image:url(&quot;assets/img/tech/image4.jpg&quot;);color:rgba(9, 162, 255, 0.85);">
    <div class="text">
      <h2>Rentflix</h2>
      <p>One stop shop for all your movie needs</p><a class="btn btn-outline-light btn-lg" role="button" href="/catalog">Browse Catalogue</a></div>
  </section>
  <section class="clean-block clean-info dark" style="height: 477px;">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">New Releases</h2>
      </div>
    </div>
    <div class="movie-display-row" style="height: 286px;" >
      <div class="movie-display-col" *ngFor="let movie of getNewReleases()">
        <div class="clean-product-item">
          <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" [routerLink]="['/product', movie.id]" src="{{'https://image.tmdb.org/t/p/w500'+movie.poster_path}}"></a></div>
          <div class="product-name"><a href="#">{{ movie.title }}</a></div>
          <div class="about">
            <div class="rating"><img src="../../../assets/img/star.svg"><img src="../../../assets/img/star.svg"><img src="../../../assets/img/star.svg"><img src="../../../assets/img/star-half-empty.svg"><img src="../../../assets/img/star-empty.svg"></div>
            <div class="price">
              <h3>{{ getPrice(movie.release_date) }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="clean-block clean-info dark" style="height: 477px;">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Popular</h2>
      </div>
    </div>
    <div class="movie-display-row" style="height: 286px;" >
        <div class="movie-display-col" *ngFor="let movie of getPopular()">
          <div class="clean-product-item">
            <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="{{'https://image.tmdb.org/t/p/w500'+movie.poster_path}}"></a></div>
            <div class="product-name"><a href="#">{{ movie.title }}</a></div>
            <div class="about">
              <div class="rating"><img src="../../../assets/img/star.svg"><img src="../../../assets/img/star.svg"><img src="../../../assets/img/star.svg"><img src="../../../assets/img/star-half-empty.svg"><img src="../../../assets/img/star-empty.svg"></div>
              <div class="price">
                <h3>{{ getPrice(movie.release_date) }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
</main>
