.movie-display-row {
    display: table;
    width: 100%; 
    table-layout: fixed; 
    border-spacing: 10px; 
}

.movie-display-col {
    display: table-cell;
}

.movie-display-row {
    padding-bottom: 100px;
    background-color: rgb(246,246,246);
}