<head>
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="101333282092-76gts5lkcvtk15dtg6g7c1lt54vkvrbf.apps.googleusercontent.com.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <title>Login Page</title>
</head>
<main class="page login-page">
  <section class="clean-block clean-form dark">
    <div class="container">
      <div class="block-heading" style="width: 1106px;height: 208px;">
        <h2 class="text-info">Log In</h2>
        <p>or</p>
        <p>Click here to <a href="/register">register</a></p>
      </div>
      <form [formGroup]="loginForm" class="login-container" (ngSubmit)="onLogin(loginForm.value)">
        <div class="form-group">
          <label for="username">Username</label>
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.username.errors }">
            <input formControlName="username" class="form-control item" type="username" id="username">
          </p>
          <div *ngIf="isSubmitted && formControls.username.errors" class="help-block">
            <div *ngIf="formControls.username.errors.required">Username is Required</div>
          </div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
          <label for="password">Password</label>
          <input formControlName="password" class="form-control" type="password" id="password">
        </div>
        <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
          <div *ngIf="formControls.password.errors.required">Password is required</div>
        </div>
        <div class="form-group">
          <div class="form-check"><input class="form-check-input" type="checkbox" id="checkbox"><label class="form-check-label" for="checkbox">Remember me</label></div>
        </div><button class="btn btn-primary btn-block" type="submit">Log In</button>
      </form>
    </div>
    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
      }
    </script>
  </section>
</main>

