.container {
    background-color: rgb(246,246,246);
    min-height: 80vh
}
.has-error input[type="username"],
.has-error input[type="password"] {
  border-color: rgb(216, 12, 12);
  color: rgb(230, 14, 14);
}

.google {
  width: 84%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

form {
  box-shadow: none !important;
}

.content {
  width: 42%;
  margin-left: auto;
  margin-right: auto;
}
