<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
  <div class="container"><a class="navbar-brand" href="#">Rentflix</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse"
         id="navcol-1">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item" role="presentation"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="/catalog/page/1">Catalog</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="/cart">Shopping Cart</a></li>
      </ul><span class="navbar-text actions"> <a class="login" href="/login">Log In</a><a class="btn btn-light action-button" role="button" href="/register">Sign Up</a></span></div>
  </div>
</nav>

<main class="page login-page">
  <section class="clean-block clean-form dark">
    <div class="container">
      <div class="block-heading" style="width: 1106px;height: 208px;">
        <h2 class="text-info">Log In</h2>
        <p>or</p>
        <p>Click here to <a href="/register">register</a></p>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
        <div class="form-group"><label for="username">Username</label><input formControlName="username" class="form-control item" type="username" id="username"></div>
        <div class="form-group"><label for="password">Password</label><input formControlName="password" class="form-control" type="password" id="password"></div>
        <div class="form-group">
          <div class="form-check"><input class="form-check-input" type="checkbox" id="checkbox"><label class="form-check-label" for="checkbox">Remember me</label></div>
        </div><button class="btn btn-primary btn-block" type="submit">Log In</button></form>
    </div>
  </section>
</main>

