.clean-navbar.fixed-top+.page {
    padding-top: 0em !important;
}

.clean-block.dark {
    height: 100vh;
}

.clean-block .block-heading p {
    max-width: 600px;
}
.clean-block .block-heading {
    padding-top: 140px;
}