<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
  <div class="container"><a class="navbar-brand" href="#">Rentflix</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse"
         id="navcol-1">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/">Home</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/catalog/page/1">Catalog</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link active" routerLink="/cart">Shopping Cart</a></li>
      </ul>
      <ng-container >
      <span class="navbar-text actions"> <a class="login" routerLink="/login">Log In</a><a class="btn btn-light action-button" role="button" routerLink="/register">Sign Up</a></span>
      </ng-container>
    </div>
  </div>
</nav>
<main class="page shopping-cart-page">
  <section class="clean-block clean-cart dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Shopping Cart</h2>
        <p>One step away from watching your favourite movies with Rentflix</p>
      </div>
      <div class="content">
        <div class="row no-gutters">
          <div class="col-md-12 col-lg-8">
            <div class="items">
              <div class="product">
                <div class="row justify-content-center align-items-center">
                  <div class="col-md-3">
                    <div class="product-image"><img class="img-fluid d-block mx-auto image" src="assets/img/tech/image2.jpg"></div>
                  </div>
                  <div class="col-md-5 product-info"><a class="product-name" href="#">Lorem Ipsum dolor</a>
                    <div class="product-specs">
                      <div><span>Display:&nbsp;</span><span class="value">5 inch</span></div>
                      <div><span>RAM:&nbsp;</span><span class="value">4GB</span></div>
                      <div><span>Memory:&nbsp;</span><span class="value">32GB</span></div>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 quantity"><label class="d-none d-md-block" for="quantity">Quantity</label><input type="number" id="number" class="form-control quantity-input" value="1"></div>
                  <div class="col-6 col-md-2 price"><span>$120</span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <div class="summary">
              <h3>Summary</h3>
              <h4><span class="text">Subtotal</span><span class="price">$360</span></h4>
              <h4><span class="text">Discount</span><span class="price">$0</span></h4>
              <h4><span class="text">Shipping</span><span class="price">$0</span></h4>
              <h4><span class="text">Total</span><span class="price">$360</span></h4><button class="btn btn-primary btn-block btn-lg" type="button">Checkout</button></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
