.clean-navbar.fixed-top+.page {
    padding-top: 0em !important;
}


.clean-block .block-heading p {
    max-width: 600px;
}
.clean-block .block-heading {
    padding-top: 140px;
}

.container {
    background-color: rgb(246,246,246);
    min-height: 80vh
}
