.block-content {
    padding-top: 200px;
}

.poster {
    height: 70%;
    width: 70%;
    margin-left: 80px;
    margin-top:20px;
}

.clean-navbar.fixed-top+.page {
    padding-top: 0em !important;
}

.clean-related-item {
    padding-top: 0px !important;
}
