<p>product works!</p>
<main class="page product-page">
  <section class="clean-block clean-product dark">
    <div class="container">
      <div class="block-heading">

      </div>
      <div class="block-content">
        <div class="product-info">
          <div class="row">
            <div class="col-md-6">

                  <figure class="figure"><img class="poster" src="{{'https://image.tmdb.org/t/p/w500'+getMovie()?.poster_path}}"></figure>

            </div>
            <div class="col-md-6">
              <div class="info">
                <h3>{{ getMovie()?.title }}</h3>
                <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star-half-empty.svg"><img src="assets/img/star-empty.svg"></div>
                <div class="price">
                  <h3>$300.00</h3>
                </div><button class="btn btn-primary" type="button"><i class="icon-basket"></i>Add to Cart</button>
                <div class="summary">
                  <p>{{ getMovie()?.overview }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-info">
          <div>
            <ul class="nav nav-tabs" id="myTab">
              <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" id="reviews-tab" href="#reviews">Reviews</a></li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="active fade show reviews" role="tabpanel" id="reviews">

                <div class="reviews" *ngFor="let reviews of getReview()">
                  <div class="review-item">
                    <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star-empty.svg"></div>
                    <h4>hello</h4><span class="text-muted"><a href="#">John Smith</a>, 20 Jan 2018</span>
                    <p> {{reviews?.id}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clean-related-items">
          <h3>Related Products</h3>
          <div class="items">
            <div class="row justify-content-center">
              <div class="col-sm-6 col-lg-4">
                <div class="clean-related-item">
                  <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image2.jpg"></a></div>
                  <div class="related-name"><a href="#">Lorem Ipsum dolor</a>
                    <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star-half-empty.svg"><img src="assets/img/star-empty.svg"></div>
                    <h4>$300</h4>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="clean-related-item">
                  <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image2.jpg"></a></div>
                  <div class="related-name"><a href="#">Lorem Ipsum dolor</a>
                    <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star-half-empty.svg"><img src="assets/img/star-empty.svg"></div>
                    <h4>$300</h4>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="clean-related-item">
                  <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image2.jpg"></a></div>
                  <div class="related-name"><a href="#">Lorem Ipsum dolor</a>
                    <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star-half-empty.svg"><img src="assets/img/star-empty.svg"></div>
                    <h4>$300</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
